# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
*.env
.vscode/
.ipynb_checkpoints/
.DS_Store

# FastAPI / Render
data/
logs/
.cache/
secrets/
token.json

# System
*.log
*.sqlite3
*.bak
